
body{
	font-family:Abel;
	text-align:center;
}

.Title{
	position:absolute;
	font-size:10vh;
	width:100%;
	
}

.Box{
	background-color: transparent;
	z-index:10;
	position:absolute;
	margin-top:12vh;
	margin-left:15vw;
	width:70vw;
	height:44vw;
	border-style:solid;
	overflow:hidden;
}

.Menu{
	background-color: transparent;
	z-index:10;
	position:absolute;
	margin-top:12vh;
	margin-left:88vw;
	width:8vw;
	height:44vw;
	border-style:solid;
	overflow:hidden;
}

.Cell{
	background-color:white;
	position:absolute;
	width:1vw;
	height:1vw;
}

.Cell:hover{
	background-color:grey;
}

#toggle{
	border-radius:10%;
	opacity:.7;
	z-index: 11;
	position:absolute;
	width:6vw;
	height:6vw;
	margin-top:15vh;
	margin-left:89.3vw;
	background-color:red;
}
#toggle:hover{
	opacity:1;
}

#zero{

}

#one{

}



