
body{
	font-family:Abel;
	text-align:center;
}

.Title{
	position:absolute;
	font-size:10vh;
	width:100%;
	
}

.Box{
	background-color: transparent;
	z-index:10;
	position:absolute;
	margin-top:12vh;
	margin-left:15vw;
	width:70vw;
	height:44vw;
	border-style:solid;
	overflow:hidden;
}

.Menu{
	background-color: transparent;
	z-index:10;
	position:absolute;
	margin-top:85vh;
	margin-left:15vw;
	width:70vw;
	height:12vh;
	border-style:solid;
	overflow:hidden;
}

.Cell{
	background-color:white;
	position:absolute;
	width:1vw;
	height:1vw;
}

.Cell:hover{
	background-color:grey;
}

#toggle{
	position:absolute;
	width:4vw;
	height:4vw;
	margin-top:50vh;
	margin-left:90vw;
	background-color:red;
}