
body{
	font-family:Abel;
	text-align:center;
}

.Title{
	position:absolute;
	font-size:10vh;
	width:100%;
	
}

.Box{
	background-color: transparent;
	z-index:10;
	position:absolute;
	margin-top:12vh;
	margin-left:15vw;
	width:70vw;
	height:44vw;
	border-style:solid;
	overflow:hidden;
}

.Menu{
	display:grid;
	background-color: transparent;
	z-index:10;
	position:absolute;
	margin-top:12vh;
	margin-left:88vw;
	width:8vw;
	height:44vw;
	border-style:solid;
	overflow:hidden;
	grid-gap:.5vw;
}

.Cell{
	background-color:white;
	position:absolute;
	width:1vw;
	height:1vw;
}

.Cell:hover{
	background-color:grey;
}

#toggle{
	grid-column: 1 / 1;
	border-radius:10%;
	opacity:.7;
	z-index: 11;
	width: 190%;
	height:6vw;
	background-color:red;
	vertical-align: middle;
}
#toggle:hover{
	opacity:1;
}
.on{
	grid-column: 2 / 2;
	background-color:green;
	opacity:.7;
	width:100%;
	height:50%;
	border-radius:10%;
}

.off{
	grid-column: 1 / 2;
	background-color:red;
	opacity:.7;
	width:100%;
	height:50%;
	border-radius:10%;
}